@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Baloo+2&family=Courgette&family=Dancing+Script&family=Lobster+Two&display=swap');

.secret_back {
    background: linear-gradient(0deg, #000000, #302e2e 80.71%),
    linear-gradient(0deg, rgb(236, 192, 133), rgba(0,255,0,0) 1000.71%),
    linear-gradient(336deg, white, rgb(236, 192, 133) 70.71%);
    font-family: Bahnschrift, sans-serif;
    font-weight: 400;
}

#secret_instructions {
    font-size: 50px;
}

#secret_q {
    font-size: 50px;
    margin-top: -0.1em;
    margin-bottom: 1em
}

#secret_container {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    color: white;
    align-items: center;
    vertical-align: auto;
    margin: auto;
    text-align: center;
    flex-flow: column;
}

#secret_title {
    font-size: 50px;
    /* margin: 0.2em; */
}

#secret_subtitle {
    font-size: 30px;
}

#morse_code_pic {
    margin: 3em;
    width: 1000px;
}

#homesearch_sec {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    overflow: hidden;
    object-fit: fill;
    height: 60vh;
    max-width: 100%;
    background: linear-gradient(127deg, rgba(241, 227, 152, 0.9), rgba(0, 0, 0, 0.8) 95.71%);
}

#homesearch_title {
    font-size: 70px!important;
    padding: 0.2em 0em;
}

#homesearch_overlay {
    height: 100%;
    max-height: 100%;
    text-align: center;
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    background: black;
    display: flex;
    justify-content: center;
}

#homesearch_overlay #homesearch {
    opacity: 0.2;
}

#homesearch_box_overlay {
    position: absolute;
    width: 100%;
    max-width: 100%;
    color:white;
    margin: auto;
    top: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-flow: column;
    font-size: 100px!important;
    height: 100%;
    justify-content: center;
}

#homesearch {
    transform: scale(2.3);
}