/* Card Container */
.projectcard {
  border: 2px solid #e5ddac;
  border-radius: 1.25rem !important;
  overflow: hidden !important;
  margin: 2em;
  background: linear-gradient(135deg, #efe9cd 0%, #e5ddac 100%);
  height: 25rem;
  color: #61001d;
  cursor: pointer;
  box-shadow: 0 4px 24px 0 rgba(97, 0, 29, 0.10);
  font-family: 'PixelFont', sans-serif;
  /* transition: all 0.18s; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.projectcard:hover {
  box-shadow: 0 8px 32px 0 rgba(97, 0, 29, 0.18);
  transition: all 0.001s;
  border-color: #61001d;
  transform: translateY(-4px) scale(1.025);
  background: linear-gradient(-11deg, #dec796 60%, #efe9cd 100%);
}

.projectcard-top {
  width: 100%;
  /* background: #fff8ef; */
  /* border-bottom: 1px solid #e5ddac; */
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 225px;
  position: relative;
}

.projectcard-top>img {
  width: 100% !important;
  height: 225px !important;
  object-fit: contain;
  background: transparent;
  border-radius: 1.25rem 1.25rem 0 0;
}

#missing_img_cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 225px;
  color: #b9937c;
  background: #efe9cd;
  border-radius: 1.25rem 1.25rem 0 0;
  font-size: 2.5em;
}

.card_info {
  padding: 0.5em 1.2em 0.2em 1.2em;
  background: none;
}

.card_title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 200;
  color: #61001d;
  letter-spacing: 0.01em;
  line-height: 1.2;
  text-align: left;
  font-family: 'PixelFont', sans-serif;
}

.card_short_desc {
  margin: 0.5em 1.2em 0.5em 1.2em;
  font-size: 1rem;
  text-align: left;
  color: #8d494d;
  line-height: 1.4;
  min-height: 2.5em;
  font-family: 'PixelFont', sans-serif;
}

.projectcard-bottom {
  margin: 0.5em 1.2em 1em 1.2em !important;
  flex: 1 1 auto;
  display: flex;
  align-items: flex-end;
}

.projectCardToolsContainer {
  display: flex;
  flex-direction: column;
  margin-left: 1.2em;
}

.projectCardTools {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.projectCardTool {
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-size: 0.85rem;
  background: #efe9cd;
  color: #61001d;
  border: 1px solid #e5ddac;
  margin-bottom: 0.5rem;
  box-shadow: 1px 1px 1px #0000001f !important;
  font-family: 'PixelFont', sans-serif;
  transition: all 0.15s;
}

.projectcard:hover .projectCardTool {
  background: #61001d;
  color: #e5ddac;
  border-color: #61001d;
}

@media screen and (max-width: 1278px) {
  .projectcard {
    height: auto;
  }
}

@media (max-width: 700px) {
  .projectcard {
    margin: 1em 0.2em;
    height: auto;
  }

  .projectcard-top>img,
  #missing_img_cover {
    height: 160px !important;
  }

  .card_title {
    font-size: 1.05rem;
  }

  .card_short_desc {
    font-size: 0.95rem;
  }
}