@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Baloo+2&family=Courgette&family=Dancing+Script&family=Lobster+Two&display=swap');

#home_page_container{
    min-height: 100vh;
    /* background: linear-gradient(0deg, rgba(255, 226, 165, 0.8) 10%, rgba(141,73,77,0.65) 70%),
            url('../../components/fractal_noise.svg'); */
}

#landing_sec {
    width: 100%;
    max-width: 100%;
    font-size: 30px;
    height: 30.5em;
    text-align: center;

    background-color: #e5ddac;
    /* margin-bottom: 3em; */
    object-fit: fill;

    box-shadow: inset 0.8em 0.8em 10em rgba(185, 147, 124, 1);
}

#landing_container {
    height: 100%;
    max-height: 100%;
    text-align: center;
    position: relative;
    align-items: center;
}

#landing_overlay {
    position: absolute;
    /* background: rgba(0, 0, 0, 0.6); */
    height: 100vh;
    max-height: 100%;
    text-align: center;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

canvas {
    overflow: visible;
}

#landing_mid_container {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100%;
}

#landing_text_left {
    font-family: 'PixelFont', sans-serif;
    font-size: 2.5em;
    margin-left: 0.8em;
}

#landing_cube {
    margin-left: 2.5em;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landing_namechanger {
    width: 30%;
    margin-right: 2.5em;
    margin-left: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landing_text_right {
    font-family: 'PixelFont', sans-sserif;
    margin-right: 0.8em;
    display: flex;
    flex-flow: column;
}

#landing_text_right .subtitle {
    font-size: 0.6em
}

#landing_text_right#name {
    font-size: 1em
}

#landing_overlay #landing {
    opacity: 0.2;
}

#landing_text_logo {
    display: flex;
    justify-content: center;
}

#landing_text_overlay {
    font-family: 'PixelFont', sans-serif;
    position: absolute;
    width: 100%;
    max-width: 100%;
    color:white;
    margin: auto;
    top: 0px;
    display: flex;
    text-align: center;
    flex-flow: column;
    font-size: 100px!important;
    height: 100%;
    justify-content: center;
}

#aboutbtn {
    margin-top: 0.7em;
    border: 0px;
    font-size: 30px;
    color:rgba(255, 255, 255, 0.6);
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out;
    font-family: 'PixelFont', sans-serif;
}

#aboutbtn:hover {
    color: rgba(255, 255, 255, 1);
}

#hometextbox {
    border-color: white;
    border: 1px;
    font-family: 'PixelFont', sans-serif;
}

#featuredtitle {
    font-size: 25px!important;
    justify-content: center!important;
    display: flex!important;
    align-items: center!important;
    flex-flow: column nowrap!important;
    text-align: center!important;
    padding-bottom: 2em;
    font-family: 'PixelFont', sans-serif!important;
    font-size: 20px!important;
}

#featuredtitle h1 {
    font-size: 50px!important;
}
#featuredtitle h5 {
    font-size: 25px!important;
}

#featuredsubtitle {
    margin-top: 0.5em!important;
    color: black!important;
    font-size: calc(1rem + 0.2vw)!important; /*Original (h5): 1.25rem - not responsive */
}

#projects {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to bottom, rgba(141,73,77,0.65) -95%, transparent);
}

#about{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 50em;
    min-height: 100%;
    padding: 2em 0;
    background: radial-gradient(circle at 85%, rgba(141,73,77,0.55) 15%, #e5ddac 65%, #e5ddac 65%);
	            /* radial-gradient(circle at 15% 20%, rgba(141,73,77,0.65), rgba(255,226,165,1)),
                url('../../components/fractal_noise.svg'); */
}

#all_proj_btn {
    margin-top: -1.5em;
    margin-bottom: 2em;
    font-size: 17.5px;
    background: transparent;
    font-family: 'PixelFont', sans-serif;
    width: 11.5%;
    color:#e5ddac;
    background-color: #61001d;
    border-radius: 8px;
    padding: 0.1em;
    box-shadow: 1px 1px 1px #0000001f!important;

}

#all_proj_btn:hover {
    /* background: white; */
    color: white;
    background-color: #8d494d;
    transition: all 0.1s ease-in-out;
    transform: scale(1.05);
    box-shadow: -1px -1px -1px #0000001f!important;
}

#all_proj_text {
    margin: 0.2em;
}

#home_quote_text {
    margin-bottom: 1em;
    padding-bottom: 1em;
}

#home_quote_person {
    font-family: 'PixelFont', sans-serif;
    font-size: 1.25rem;
}

#contact {
    width: 100%;
    min-height: 100%;
    padding: 2em 0;
    background-color: #e5ddac;
    font-family: 'PixelFont', sans-serif;
    color: #61001d;
    border-bottom: 3px solid #61001d;
    box-shadow: 3px 3px 3px rgba(97, 0, 29, 0.5)!important;
}

#contact_container {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
}

#personal_info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-left: 0.3em;
}

#contact_info {
    font-size: 1.25em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contact_links {
    font-size: 1.5em;
    margin-top: 1em;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#contact_link_title {
    margin-bottom: 0.5em;
}

#links {
    display: flex;
    justify-content: center;
    flex-flow: row;
}

.contact_link svg{
    margin-left: 1em;
    margin-right: 1em;
    height: 60px;
    width: 60px;
}

a.contact_link {
    color: #61001d;
}

a.contact_link:hover {
    color: white;
    transition: all 0.15s ease-in-out;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}