@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Baloo+2&family=Courgette&family=Dancing+Script&family=Lobster+Two&display=swap');

#unauth_container {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Baloo 2', cursive!important;
    text-align: center;
    flex-flow: column;
}

#unauth_title {
    font-size: 70px;
}