@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Baloo+2&family=Courgette&family=Dancing+Script&family=Lobster+Two&display=swap');

#home_page_container{
    min-height: 100vh;
    /* background: linear-gradient(0deg, rgba(255, 226, 165, 0.8) 10%, rgba(141,73,77,0.65) 70%),
            url('../../components/fractal_noise.svg'); */
}

#landing_sec {
    width: 100%;
    max-width: 100%;
    font-size: 30px;
    height: 32.5em;
    text-align: center;

    background-color: #e5ddac;
    /* margin-bottom: 3em; */
    object-fit: fill;

    box-shadow: inset 0.8em 0.8em 10em rgba(185, 147, 124, 0.5);
}

#landing_overlay {
    position: relative;
    /* background: rgba(0, 0, 0, 0.6); */
    max-height: 100%;
    text-align: center;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;

    font-family: 'PixelFont', sans-serif;
    color:white;
    margin: auto;
    top: 0px;
    flex-flow: column;
    font-size: 100px!important;
    height: 100%;
}

canvas {
    overflow: visible;
}

#landing_mid_container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    overflow-x: hidden;
    height: 100%;
    margin-bottom: 1em;
}

#landing_text_left {
    font-family: 'PixelFont', sans-serif;
    font-size: 2.5em;
    margin-left: 0.8em;
}

#landing_cube {
    margin-left: 2.5em;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landing_namechanger {
    width: 30%;
    margin-right: 2.5em;
    margin-left: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landing_text_right {
    font-family: 'PixelFont', sans-sserif;
    margin-right: 0.8em;
    display: flex;
    flex-flow: column;
}

#landing_text_right .subtitle {
    font-size: 0.6em
}

#landing_text_right#name {
    font-size: 1em
}

#landing_overlay #landing {
    opacity: 0.2;
}

#landing_text_logo {
    display: flex;
    justify-content: center;
}

#aboutbtn {
    margin-top: 0.7em;
    border: 0px;
    font-size: 30px;
    color:rgba(255, 255, 255, 0.6);
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out;
    font-family: 'PixelFont', sans-serif;
}

#aboutbtn:hover {
    color: rgba(255, 255, 255, 1);
}

#hometextbox {
    border-color: white;
    border: 1px;
    font-family: 'PixelFont', sans-serif;
}

#featuredtitle {
    font-size: 25px!important;
    justify-content: center!important;
    display: flex!important;
    align-items: center!important;
    flex-flow: column nowrap!important;
    text-align: center!important;
    padding-bottom: 2em;
    font-family: 'PixelFont', sans-serif!important;
    font-size: 20px!important;
}

#featuredtitle h1 {
    font-size: 50px!important;
}
#featuredtitle h5 {
    font-size: 25px!important;
}

#featuredsubtitle {
    margin-top: 0.5em!important;
    color: black!important;
    font-size: calc(1rem + 0.2vw)!important; /*Original (h5): 1.25rem - not responsive */
}

#projects {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to bottom, rgba(141,73,77,0.65) -95%, transparent);
}

#about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    min-height: 100%;
    padding: 2em 0;
    background: radial-gradient(circle at 85%, rgba(141,73,77,0.55) 15%, #e5ddac 65%, #e5ddac 65%);
}

#about_text {
    margin-left: 2em;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    height: 100%;
    width: 55%;
    color: #61001d;
}

#about_texttitle {
    display: flex;
    justify-content: left;
    font-family: "PixelFont", "sans-serif";
    font-size: 60px;
    height: 20%;
    padding: 0.35em;
    /* margin-top: 2.25em; */
}

#about_textbody {
    width: 100%;
    height: 100%;
    font-size: 25px;
    padding: 0.75em;
    font-family: "PixelFont", "sans-serif";
    /* margin-top: 0.75em; */
    color: #61001d;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    background-color: #e5ddac;
}

#about_coin {
    margin-right: 2.5em;
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 5%,
        rgba(0, 0, 0, 1) 95%,
        rgba(0, 0, 0, 0)
    );
    shape-outside: circle(50%);
}

#all_proj_btn {
    margin-top: -1.5em;
    margin-bottom: 2em;
    font-size: 17.5px;
    background: transparent;
    font-family: 'PixelFont', sans-serif;
    width: 11.5%;
    color:#e5ddac;
    background-color: #61001d;
    border-radius: 8px;
    padding: 0.3em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5)!important;
}

#all_proj_btn:hover {
    color: white;
    background-color: #8d494d;
    transition: all 0.1s ease-in-out;
    transform: scale(1.05);
    box-shadow: -1px -1px -1px rgba(0, 0, 0, 0.5)!important;
}

#all_proj_text {
    margin: 0.2em;
}

#home_quote_text {
    margin-bottom: 1em;
    padding-bottom: 1em;
}

#home_quote_person {
    font-family: 'PixelFont', sans-serif;
    font-size: 1.25rem;
}

#contact {
    width: 100%;
    min-height: 100%;
    padding: 2em 0;
    background-color: #e5ddac;
    font-family: 'PixelFont', sans-serif;
    color: #61001d;
    border-bottom: 3px solid #61001d;
    box-shadow: 3px 3px 3px rgba(97, 0, 29, 0.5)!important;
}

#contact_container {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
}

#personal_info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-left: 0.3em;
}

#contact_info_container {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact_map {
    /* {Width => Tries 700px,
    goes 90% if small or 50% if too big */
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: clamp(40em, 2.5em, 2.5em)!important; */
}


#contact_info {
    font-size: 1.25em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contact_links {
    font-size: 1.5em;
    margin-top: 1em;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#contact_link_title {
    margin-bottom: 0.5em;
}

#links {
    display: flex;
    justify-content: center;
    flex-flow: row;
}

.contact_link svg{
    margin-left: 1em;
    margin-right: 1em;
    height: 60px;
    width: 60px;
}

a.contact_link {
    color: #61001d;
}

a.contact_link:hover {
    color: white;
    transition: all 0.15s ease-in-out;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 991px) {
    
    .slick_track {
        width: 100%!important;
    }

    #landing_sec {
        width: 100%;
        max-width: 100%;
        font-size: 30px;
        height: 38.5em!important;
        text-align: center;
        align-items: center!important;
        justify-content: center!important;
        overflow: hidden!important;
    
        background-color: #e5ddac;
        /* margin-bottom: 3em; */
        object-fit: fill;
    
        box-shadow: inset 0.8em 0.8em 10em rgba(185, 147, 124, 1);
    }

    #landing_overlay {
        /* background: rgba(0, 0, 0, 0.6); */
        text-align: center;
        width: 100%;
        max-width: 100%;
        display: flex;
        overflow: hidden;
    }
    
    #landing_mid_container {
        display: flex;
        flex-flow: column-reverse nowrap;
        justify-content: center;
        width: 100%;
        height: 30em;
        overflow: visible;
    }

    #landing_namechanger {
        width: 100%;
        margin: 1em 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #landing_cube {
        margin-left: 0;
        width: 100%;
    
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin: 0 5em 0 0!important; */
    }

    #contact_container {
        flex-flow: column wrap;
    }

    #contact_info {
        margin: 2em 0 0 0;
    }

    #contact_info_container {
    width: 100%;
    }

    #personal_info {
        padding: 0 0 0 0.30em;
    }

    #contact_map {
        width: clamp(10em, 100%, 25em);
    }

    #google_maps {
        width: clamp(10em, 100%, 25em);
    }

    #about {
        flex-flow: column wrap;
        background: radial-gradient(circle at 60% 80%, rgba(141,73,77,0.55) 15%, #e5ddac 65%, #e5ddac 65%);
    }

    #about_text {
        width: 90%;
        margin: 0 0 3em 0;
    }

    #about_texttitle {
        font-size: 3.75em;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #about_coin {
        margin: 0;
        width: 100%;
    }
    
    #all_proj_btn {
        margin-top: -1.5em;
        margin-bottom: 2em;
        font-size: 17.5px;
        background: transparent;
        font-family: 'PixelFont', sans-serif;
        width: 30.5%;
        color:#e5ddac;
        background-color: #61001d;
        border-radius: 8px;
        padding: 0.1em;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5)!important;
    }
}