@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Colour palette */

/* #61001d - Dark Red
#8d494d - Lighter red
#b9937c - Brownish red
#dec796 - Beige
#e5ddac - Light beige
#efe9cd - Very light beige
#ffffff - White */

/* Define custom font */
@font-face {
  font-family: PixelFont;
  src: url("../fonts/Dico.ttf") format('truetype');
}

@font-face {
  font-family: Bahnschrift;
  src: url("../fonts/BAHNSCHRIFT.TTF") format('truetype');
}

body {
  background-color: #e5ddac!important;
}

/* Plus icon from https://stackoverflow.com/questions/55281672/make-plus-symbol-in-css */
.plus {
    --b: 5px!important; /* the thickness */
    width: 40px!important; /* the size */
    aspect-ratio: 1!important;
    border: 10px solid grey!important; /* the outer space */
    background:
      conic-gradient(from 90deg at var(--b) var(--b),grey 90deg,#fff 0) 
      calc(100% + var(--b)/2) calc(100% + var(--b)/2)/ /*Vertical line*/
      calc(50%  + var(--b))   calc(50%  + var(--b))!important; /*Horizontal line*/
    display: inline-block!important;
  }

.radius {
    border-radius: 50%!important;
    width: 10em!important;
    height: 10em!important;
}

.plus.radius {
    margin: 1.5em!important;
    width: 3em!important;
    height: 3em!important;
}

.trans_back {
    background-color: rgba(0, 0, 0, 0)!important;
    border: 0!important;
}

.text_highlight {
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: #72393d;
}

.text_shadow {
  text-shadow: 3px 3px 3px rgba(97, 0, 29, 0.2);
}
