/* Colour palette */
@import "tailwindcss";
/* 
#61001d, HSL: (342, 100, 19), RGB (97, 0, 29, 1) - Dark Red
#8d494d, HSL: (356, 32, 42), RGB (141, 73, 77, 1) - Lighter red
#b9937c, HSL: (23, 30, 61), RGB (185, 147, 124, 1) - Brownish red
#dec796, HSL: (41, 52, 73), RGB (222, 199, 199, 1) - Beige
#e5ddac, HSL: (52, 52, 79), RGB (229, 221, 172, 1) - Light beige
#efe9cd, HSL: (49, 52, 87), RGB (239, 233, 205, 1) - Very light beige
#ffffff, HSL: (0, 0, 100), RGB (255, 255, 255, 1) - White
*/

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(342 100% 19%);

  --card: hsl(0 0% 100%);
  --card-foreground: hsl(342 100% 19%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(342 100% 19%);

  --primary: hsl(342 100% 19%);
  --primary-foreground: hsl(0 0% 100%);

  --secondary: hsl(49 52% 87%);
  --secondary-foreground: hsl(342 100% 19%);

  --muted: hsl(52 52% 79%);
  --muted-foreground: hsl(356 32% 42%);

  --accent: hsl(41 52% 73%);
  --accent-foreground: hsl(342 100% 19%);

  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);

  --border: hsl(52 52% 79%);
  --input: hsl(41 52% 73%);
  --ring: hsl(342 100% 19%);

  --radius: 0.5rem;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: hsl(342 100% 19%);
  --foreground: hsl(0 0% 100%);

  --card: hsl(356 32% 42%);
  --card-foreground: hsl(0 0% 100%);

  --popover: hsl(356 32% 42%);
  --popover-foreground: hsl(0 0% 100%);

  --primary: hsl(49 52% 87%);
  --primary-foreground: hsl(342 100% 19%);

  --secondary: hsl(23 30% 61%);
  --secondary-foreground: hsl(0 0% 100%);

  --muted: hsl(23 30% 61%);
  --muted-foreground: hsl(41 52% 73%);

  --accent: hsl(356 32% 42%);
  --accent-foreground: hsl(0 0% 100%);

  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);

  --border: hsl(23 30% 61%);
  --input: hsl(23 30% 61%);
  --ring: hsl(49 52% 87%);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  /* optional: --font-sans, --font-serif, --font-mono if they are applied in the layout.tsx */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  --color-primary-dark: #61001d;
  --color-primary-medium: #8d494d;
  --color-primary-light: #b9937c;
  --color-accent-beige: #dec796;
  --color-accent-light-beige: #e5ddac;
  --color-accent-very-light-beige: #efe9cd;

  --font-family-sans: "Geist", var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-family-mono: "Geist Mono", var(--font-geist-mono), ui-monospace, monospace;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}

@keyframes accordion-down {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

* {
  border-color: var(--border);
}

/* Custom font */
@font-face {
  font-family: PixelFont;
  src: url("../fonts/Dico.ttf") format('truetype');
}

@font-face {
  font-family: Bahnschrift;
  src: url("../fonts/BAHNSCHRIFT.TTF") format('truetype');
}

html {
  height: 100%;
  width: 100%;
  font-family: "PixelFont", "sans-serif";
}

body {
  background-color: #e5ddac !important;
  height: 100%;
  width: 100%;
  top: 0;
}

/* Plus icon from https://stackoverflow.com/questions/55281672/make-plus-symbol-in-css */
.plus {
  --b: 5px !important;
  /* the thickness */
  width: 40px !important;
  /* the size */
  aspect-ratio: 1 !important;
  border: 10px solid grey !important;
  /* the outer space */
  background:
    conic-gradient(from 90deg at var(--b) var(--b), grey 90deg, #fff 0) calc(100% + var(--b)/2) calc(100% + var(--b)/2)/
    /*Vertical line*/
    calc(50% + var(--b)) calc(50% + var(--b)) !important;
  /*Horizontal line*/
  display: inline-block !important;
}

.radius {
  border-radius: 50% !important;
  width: 10em !important;
  height: 10em !important;
}

.plus.radius {
  margin: 1.5em !important;
  width: 3em !important;
  height: 3em !important;
}

.trans_back {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 0 !important;
}

.text_highlight {
  -webkit-text-stroke-width: 0.65px;
  -webkit-text-stroke-color: #72393d;
}

.text_shadow {
  text-shadow: 3px 3px 3px rgba(97, 0, 29, 0.2);
}

.modal_container {
  height: inherit;
  width: inherit;
  display: static;
  justify-content: center;
  align-items: center;
  bottom: 1000px;
}

/* Zoom CSS */
[data-rmiz-ghost] {
  position: absolute;
  pointer-events: none;
}

[data-rmiz-btn-zoom],
[data-rmiz-btn-unzoom] {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  color: #fff;
  height: 40px;
  margin: 0;
  outline-offset: 2px;
  padding: 9px;
  touch-action: manipulation;
  width: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[data-rmiz-btn-zoom]:not(:focus):not(:active) {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  pointer-events: none;
  white-space: nowrap;
  width: 1px;
}

[data-rmiz-btn-zoom] {
  position: absolute;
  inset: 10px 10px auto auto;
  cursor: zoom-in;
}

[data-rmiz-btn-unzoom] {
  position: absolute;
  inset: 20px 20px auto auto;
  cursor: zoom-out;
  z-index: 1;
}

[data-rmiz-content="found"] img,
[data-rmiz-content="found"] svg,
[data-rmiz-content="found"] [role="img"],
[data-rmiz-content="found"] [data-zoom] {
  cursor: zoom-in;
}

[data-rmiz-modal]::backdrop {
  display: none;
}

[data-rmiz-modal][open] {
  position: fixed;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  max-width: none;
  max-height: none;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  overflow: hidden;
}

[data-rmiz-modal-overlay] {
  position: absolute;
  inset: 0;
  transition: background-color 0.3s;
}

[data-rmiz-modal-overlay="hidden"] {
  background-color: rgba(255, 255, 255, 0);
}

[data-rmiz-modal-overlay="visible"] {
  background: #000000e1;
}

[data-rmiz-modal-content] {
  position: relative;
  width: 100%;
  height: 100%;
}

[data-rmiz-modal-img] {
  position: absolute;
  cursor: zoom-out;
  image-rendering: high-quality;
  transform-origin: top left;
  transition: transform 0.3s;
}

@media (prefers-reduced-motion: reduce) {

  [data-rmiz-modal-overlay],
  [data-rmiz-modal-img] {
    transition-duration: 0.01ms !important;
  }
}

.zoom-caption {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  color: #efe9cd;
  font-size: 1.4rem;
  padding: 1.7rem 2.5rem;
  opacity: 0.0001;
  transition: opacity 0.3s;
}

.zoom-caption--loaded {
  opacity: 1;
}

.zoom-caption--left {
  max-width: 40rem;
  top: 50%;
  transform: translateY(-50%);
}

.zoom-caption--bottom {
  max-width: 40rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: 'PixelFont'
}

figcaption {
  display: block;
  unicode-bidi: isolate;
}