.projectModal {
    /* {Width => Tries 700px,
    goes 90% if small or 50% if too big */
    width: clamp(50%, 1000px, 90%);
    height: auto;
    background: linear-gradient(
        135deg,
        hsl(41, 46%, 70%),
        rgba(229, 221, 172)
      );
    position: relative;
    z-index: 99;

    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    display: flex;
    flex-flow: column;
    align-items: center;
    /* justify-content: center; */
    vertical-align: auto;
    color: rgba(141, 73, 77, 1)
}

.projectModalBody {
    /* height: 100%; */
    width: 100%;
    margin: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* align-items: center; */
}

.projectModalText {
    /* position: relative; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    /* height: 25em; */
    width: 52.5%;
    overflow-y: auto;
}

.projectModalTitle {
    margin-top: 0.5em;
    font-size: 25px;
    text-align: left;
    /* text-shadow: 1px 1px 3px black; */
}

.projectModalDesc {
    width: 100%;
    height: 30%;
    text-align: left;
}

.project_media {
    width: 45%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

iframe.project_video {
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-top: 1em;
    margin-bottom: 1em;
}

.project_imgs {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    aspect-ratio: 16 / 9;
    /* height: auto; */
    object-fit: contain;
}

.projectModalCloseBtn {
    margin: 1em;
}

.backdrop, .modal {
    display: flex;
    align-items: center;
}

.projectCloseContainer {
    position: absolute;
    display: flex;
    justify-content: right;
    width: 100%;
}

#close_item {
    width: 1.25em!important;
    height: 1.25em!important;
    background:
      conic-gradient(from 90deg at var(--b) var(--b),rgba(0, 0, 0, 0) 90deg, grey 0) 
      calc(100% + var(--b)/2) calc(100% + var(--b)/2)/ /*Vertical line*/
      calc(50%  + var(--b))   calc(50%  + var(--b))!important; /*Horizontal line*/
    transform: rotate(45deg)!important;
    border: 0!important;
    margin-top: 0.5em!important;
    margin-right: 0.5em!important;
    transition: all 0.15s;
    opacity: 0.5;
}

#close_btn #close_item:hover, #close_btn:hover #close_item { opacity: 0.8; }

#close_btn {
    min-height: 33px;
    height: 33px;
    width: auto;
    /* width: .3%; */
    /* min-width: 24.63px; */
    /* padding: 0!important; */
    margin-right: 0.2em;
}

.projectModalRest {
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
    height: 25%;
    width: 100%;
    /* margin-bottom: 3em; */
}

.projectModalBotTitle {
    text-align: left;
    font-size: 17.5px;
    margin-bottom: 0.5em;
}

.projectModalTools {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

.projectModalTool {
    font-size: 15.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em!important;
    margin-right: 1em;
    margin-bottom: 1em;
    text-align: center;
    background: transparent;
    font-family: 'PixelFont', sans-serif;
    color:#e5ddac;
    background-color: #61001d;
    border-radius: 8px;
    padding: 0.3em;
    box-shadow: 1px 1px 1px #0000001f!important;
}

#no_project_vid {
    text-align: center;
}

@media screen and (max-width: 991px) {
    .projectModal {
        height: auto;
    }
}