#missing_img_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25em;
  height: 15em;
  margin-top: 1em;
  margin-bottom: 1em;
  object-fit: contain;
  color: #8d494d;
  border-radius: 8px;
}

@media (max-width: 600px) {
  #missing_img_modal {
    width: 100%;
    height: 10em;
  }
}